
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <a target="_blank" 
                            href="#">
                            Reef
                        </a>
                    </li>
                </ul>
                <p class="copyright">
                    &copy; Reef - By ElectricFish Energy Inc.
                </p>
            </nav>
        </div>
    </footer>
