{% extends "layouts/base.html" %} {% block title %} Google Maps {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link rel="stylesheet" href="/static/assets/css/sidebarunits.css">    

<div class="map-container">
    <div id="mySidebar" class="sidebar1">
        <div id="innerSidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#" id="unitName"></a>
        <a id="SOC" href="#"></a>
        <a id="IVTS" href="#"></a>
        <a id="COORD" href="#"></a>
        <a id="temperature" href="#"></a>
        
        <!--<div class="row">
            <div class="col-md-8">
                <div class="card">
                    <a href='#'>hello</a>
                </div>
                <div class="card">
                    <a href='#'>hello</a>
                </div>
            </div>
        </div>-->
    </div>
    </div>
    <div id="map"></div>
   
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzeSIS3eGlG075uzdMq0_6SQSo99GUAMc"></script>
<script type="text/javascript" src="/static/assets/js/unitmaps.js"></script>
<script id="getjs" type="text/javascript">
    //$(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    //    demo.initGoogleMaps();

    //});
</script>

<script type="text/javascript" src="/static/assets/js/unitmaps.js"></script>
{% endblock javascripts %}